<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%
  var title = page.title || '';

  if ( is_archive() ) { //TODO trocar para blog e o número da página
    title = 'Blog';

    if ( is_month() ) {
      title += ': ' + page.year + '/' + page.month;
    } else if ( is_year() ) {
      title += ': ' + page.year;
    }

    if( page.current > 1 ) {
      title += ' page ' + page.current;
    }

  } else if ( is_category() ) {
    title = 'Category: ' + page.category;
  } else if ( is_tag() ) {
    title = 'Tag: ' + page.tag;
  }

  site.title = title;
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

  <% if ( theme.rss ) { %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml" />
  <% } %>

  <% if ( theme.favicon ) { %>
  <!--[if lte IE 10 ]><%- favicon_tag(theme.favicon + '.ico') %><![endif]-->
  <!--[if !IE]><!-->
  <%- favicon_tag(theme.favicon + '.png') %>

  <meta name="msapplication-TileImage" content="<%- url_for( theme.favicon + '.png') %>"/>
  <meta name="msapplication-TileColor" content="#000000"/>

  <link rel="apple-touch-icon" href="<%- url_for('images/apple-touch-icon-57x57.png') %>" />
  <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for('images/apple-touch-icon-72x72.png') %>" />
  <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for('images/apple-touch-icon-114x114.png') %>" />
  <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('images/apple-touch-icon-144x144.png') %>" />

  <link rel="icon" sizes="256x256" href="<%- url_for( theme.favicon + '.png' ) %>" />
  <!--<![endif]-->
  <% } %>

  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro|Material+Icons|Raleway:400,300,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <%- css('css/vendors') %>
  <%- css('css/style') %>
  <%- partial('_partial/google-analytics') %>

  <%- js('js/vendors') %>

  <script>
    define('jquery', function () {
      return window.jQuery;
    });
  </script>
  <style>
    .tel{
      color: white;
    }
    .tel:hover{
      color: #12c1e8;
    }
    .qq{
      color: white;
    }
    .qq:hover{
      color: #ff7373;
    }
    .git{color: white;}.git:hover{color: #000000}
    .cc{float: left; position: absolute;left: 1px;top: 30px;color: white;font-size: 12px}.cc:hover{color: grey}
    .box{background-color:#00000045;/*border: 2px dashed #eee;*/width:30%;height: 400px;float: left;margin: 0 14px; border-radius: 15px;box-shadow: 1px 1px 3px #9a9696a6;color: white;padding: 2px 15px;}
    .box:hover{background-color:#00000056;box-shadow: 1px 1px 3px 1px #9a9696a6}
    .fix{margin-top: 20px;padding-top: 50px}
    .admin{color: #5f5f5f;margin-left: 10px}.admin:hover{color: black}
    .slideInLeft{animation-name:slideInLeft;}
      .slideInright{animation-name:slideInright;}
    @media (max-width: 900px) {
      .box{width: 90%;margin: 5px 18px;height:330px;}
      .fix{margin-top: 20px;padding-top: 0;}
      .slideInLeft{animation-name:;}
      .slideInright{animation-name:;}
    }
  </style>


</head>
<body>

  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

  <div id="main-container" >
    
         <%- body %>
      
  </div>

  <footer class="page-footer grey darken-2" style="padding-top:30px">
    <div class="footer-copyright">
      <div class="container" style="color: white;position: relative;">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> &nbsp;<a href="https://github.com/ahpulug" class="git" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>



        <div class="right">
          <!-- Powered by <a href="http://hexo.io/" rel="nofollow" class="white-text" target="_blank">Hexo</a> -->
          Join us: &nbsp;<a href="https://t.me/joinchat/DryM2Q_AkIzblqmFYbtJ1Q" alt="Telegram" class="tel" target="_blank"><i class="fa fa-telegram" aria-hidden="true" ></i></a>
          &nbsp;
          <a href="//shang.qq.com/wpa/qunwpa?idkey=b7ec52a20de97440fc6b0c45616a328db5a15cf349dcc63fe71169456b743467" class="qq" id="qq"><i class="fa fa-qq" aria-hidden="true"></i></a>
          <br>
          Contact:&nbsp;
          <a href="https://groups.google.com/d/forum/ahpulug" class="qq" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>&nbsp;
          
          <a href="https://twitter.com/ou_yang_jun" class="tel" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
           
        </div>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="cc" target="_blank"><i class="fa fa-creative-commons" aria-hidden="true"></i> BY-NC-SA 4.0</a>
      </div>
    </div>
  </footer>

  <%- js('js/app') %>
<script type="text/javascript" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>

</body>
</html>
