<div class="navbar-fixed">
  <nav id="main-navbar" class="grey lighten-5 z-depth-0" role="navigation" style="border-bottom:1px solid #eee;">
    <div class="nav-wrapper container" style="position: static;">

      <a id="logo-container" href="<%- url_for() %>" class="brand-logo center-align">
        <span><%= config.title %></span>
        <sub id="string2" style="display: none;"><%= config.subtitle %></sub>
        <sub id="showStr2"><%= config.subtitle %></sub>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="https://search.ahpulug.org" class="search" target="_blank" title="Lug-Search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <% for (var i in theme.menu){ %>
          <li>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <a href="https://search.ahpulug.org" class="search min"><i class="fa fa-search" aria-hidden="true" ></i></a>
    </div>

  </nav>

</div>

<ul id="nav-mobile" class="side-nav">
  <li class="m-logo">LUG@AHPU</li>
  <% for (var i in theme.menu){ %>
  <li>
    <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
  </li>
  <% } %>
</ul>
